{% include "templates/app.twig" %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for index, product in products %}
        <div class="col-md-4 col-sm-6">
          {% include 'products/partials/item.twig' %}
        </div>

        <!-- Making a limit of items for each row -->
        {% if (index+1) % 3 == 0 %}
          </div>
          <div class="row">
        {% endif %}

      {% endfor %}
    </div>
  </div>
{% endblock %}
