*{
  font-family: 'Encode Sans Condensed',sans-serif;
}
.font-lato{
  font-family: 'Lato',sans-serif;
}
.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}
.font-esc{
  font-family: 'Encode Sans Condensed', sans-serif;
}
.font-mono{
  font-family: 'Ubuntu Mono', monospace;
}
body{
  padding-bottom: 100px;
  padding-top: 95px;
}
.font-size-20{
  font-size: 20px;
}
#cartlist{
  display: none;
  animation: fadein 1.5s linear 0s;
  display: block;
}

@keyframes fadein {
  from{
    opacity: 0;
  } to{
    opacity: 100%;
  }
}
@keyframes fadeout {
  from{
    opacity: 100%;
  } to{
    opacity: 0;
  }
}
