<!--
  codeTode(); Store
  All Rights Reserved for Oliver Cordingley and Sam Reynolds
  < - - - - - - - >
  Packages used (Frontend):
  • Bootstrap
  < - - - - - - - >
  Fonts used (Google Fonts API):
  • Encode Sans Condensed
  • Montserrat
  • Lato
  • Ubuntu Mono
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="description" content="Welcome to codeTode();, a quality online store built by a few teenagers. We sell a number of things to do with programming, from coffee mugs to laptop stickers!">

    <title>{{ title }} | codeTode&#40;&#41;&#59;</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Lato|Montserrat|Ubuntu+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{{home}}../resources/views/templates/css/style.css">

  </head>
  <body>
  {% include "templates/partials/navigation.twig" %}

  {% block content %}{% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo=" crossorigin="anonymous"></script>
</body>
</html>
