body {
  background-color: #21252b;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  letter-spacing: 2.12px;
}

a.disabled {
  pointer-events: none;
}

a.half-disabled {
  cursor: pointer;
}

.clear:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}

.admin-panel {
  width: 990px;
  margin: 50px auto;
}

.sidebar {
  width: 20%;
  min-height: 690px;
  float: left;
  border-right: 1px solid #ffffff;
}

.sidebar .logo {
  margin-top: 43.5px;
  margin-right: 15px;
  height: 145px;
}

.sidebar .logo a {
  width: 88px;
  height: 88px;
  display: inline-block;
  position: relative;
  left: 50%;
  right 50%;
  margin: -45px 0 0 -45px;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  background-color: #d6d6d6;
}

.sidebar .logo a:before {
  color: #000000;
  content: "cT();";
  width: 70px;
  height: 70px;
  font: 25px / 70px Arial, Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 35px;
  border: 1px solid #d2d2d2;
  display: inline-block;
  background: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background: linear-gradient(top, #ffffff, #f5f5f5);
}

.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar li {
  list-style: none;
  margin: 0;
  position: relative;
}

.sidebar li:before {
  content: "";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  display: block;
  line-height: 40px;
  right: 20px;
  -webkit-font-smoothing: antialiased;
}

.sidebar ul a {
  color: #8c8c8c;
  text-decoration: none;
  font: 16px / 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  display: block;
  box-shadow: inset 0 1px 0 #ffffff;
  text-indent: 20px;
  text-transform: capitalize;
}

.sidebar li:hover a {
  background-color: #ffffff;
  box-shadow: 1px 0 0 #ffffff, inset 5px 0 0 -1px #ea533f;
}

.main {
  float: left;
  width: 79%;
  height: 690px;
  background-color: #ffffff;
  color: #000000;
  position: relative;
}

.main-content h4 {
  line-height: 1;
  font-size: 18px;
  margin: 1.3em 0 1em;
  margin-left: 17px;
}

.main-content > div {
  position: absolute;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -ms-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.main-content h2 {
  margin: 1em 30px;
  color: #ea533f;
  font-size: 20px;
}

.main-content h2:before {
  content: attr(data-icon);
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
}

#dashboard > div {
  border: 1px solid #ebebeb;
  margin-left: 30px;
  float: left;
  border-radius: 5px;
  min-width: 345px;
  height: 262px;
  display: inline-block;
}

.monitor ul {
  float: left;
  padding: 0;
  margin: 0 31px 0 17px;
}

.monitor li {
  list-style: none;
  font: 600 14 / 28px;
  color: #666666;
  text-transform: capitalize;
  text-decoration: none;
}

.monitor li a {
  color: #666666;
  text-transform: capitalize;
  text-decoration: none;
}

.monitor li:first-child {
  border-bottom: 1px dotted #999999;
}
